button:hover {
    background: linear-gradient(135deg, #20ebff, #18e8de);
    transform: scale(1.05);
}

button{
    background: linear-gradient(135deg, #20b0be, #26b5ae);
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin: 4px;
}